<p>currency-form works!</p>

<section>
  <div>
    <div>
      <input class="lWzCpb ZEB7Fb" value="1" aria-label="Campo do montante da moeda" type="number">
      <div>
        <select name="cars">
          <option value="real Brasileiro">Real Brasileiro</option>
          <option value="Dolar Americano">Dolar Americano</option>

        </select>
      </div>

    </div>
    <div>
      <input class="lWzCpb ZEB7Fb" value="1" aria-label="Campo do montante da moeda" type="number">
      <div>
        <select name="cars">
          <option value="real Brasileiro">Real Brasileiro</option>
          <option value="Dolar Americano">Dolar Americano</option>

        </select>
      </div>
    </div>
  </div>
</section>
